
.loggedSection p > span {
  font-weight: bold;
  margin-right: 10px;
  background-color: #2cbd19ad;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 10px;
}

.loggedSection button {
  background-color: #bd1919ad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}

.loggedSection button:hover {
  background-color: #bd1919;
}