.error {
  color: white;
  border: 1px solid red;
  padding: 10px;
  margin: 10px 0;
  background-color: lightcoral;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(204, 11, 11, 0.582);
}

.success {
  color: lightgreen;
  border: 1.5px solid lightgreen;
  padding: 10px;
  margin: 10px 0;
  background-color: transparent;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(9, 255, 0, 0.486);
}

.before {
  color: rgba(173, 173, 173, 0.733);
  border: 1px solid rgba(199, 199, 199, 0.795);
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(75, 80, 75, 0.747);
  border-radius: 5px;
  text-align: center;
}
